.map-svg {
  vertical-align: top;
  display:inline-block;
  white-space: normal;
  width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
  width: 100%; /* Or whatever */
  justify-content: center;
}

.mat-card {
  width: 80%;  /* Or whatever */
  margin: 20px auto;  /* Magic! */
}

.hidden {
  display: none;
}