mat-card {
  margin: 20px auto;
  width: fit-content;
}

.summary {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* Small screens */
@media all and (max-width: 600px) {
  .main-content {
    padding: 10px 10px;
  }


  mat-card {
    margin: 10px auto;
    width: fit-content;
  }

}

.main-content {
  padding: 20px 20px;
}

