.mat-card {
  flex-basis: 30%;
  max-width: 500px;
  margin: 30px;
  flex-grow: 1;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

/* Small screens */
@media all and (max-width: 600px) {
  .mat-card {
    flex-basis: 50%;
    max-width: 350px;
    margin: 15px;
    flex-grow: 1;
  }

  .mat-card-sm-image {
    margin-left: 10px;
  }

}
