.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.diagram {
    height: 800px;
}

.diagram-stepper {
 max-width: 500px;
}

@media all and (max-width: 900px) {
    .diagram {
        height: 600px;
    }
}

@media all and (max-width: 500px) {
    .diagram-stepper {
        max-width: 300px;
    }
}

@media all and (max-width: 400px) {
    .diagram-stepper {
        max-width: 250px;
    }
}
