
<div class="container mat-typography" id="website-technologies">
    <h2 mat-header>Technologies used for the website</h2>
    <mat-list>
        <h3 mat-subheader>UI libraries, frameworks and tools</h3>
        <mat-list-item class="mat-list-item-fit-height">
           <h4 mat-line>Angular 6</h4>
           <p mat-line class="mat-line-wrap">The base framework. At the time of the creation, the most recent Angular version.</p>
           <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
        <mat-list-item class="mat-list-item-fit-height">
          <h4 mat-line>Angular Material</h4>
          <p mat-line class="mat-line-wrap">A UI library offering many standard components, or <i>how not to reinvent the wheel.</i></p>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
        <mat-list-item class="mat-list-item-fit-height">
            <h4 mat-line>Bootstrap</h4>
            <p mat-line class="mat-line-wrap">Famous HTML, CSS, and JS library. Used here mainly for the css helper classes and utilities.</p>
            <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <mat-list-item class="mat-list-item-fit-height">
              <h4 mat-line>Angular Animation</h4>
              <p mat-line class="mat-line-wrap">Side library of Angular which provides the illusion of motion. Based on the CSS animations.</p>
            </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader>On the development side</h3>
        <mat-list-item class="mat-list-item-fit-height">
           <h4 mat-line>Karma, Jasmine</h4>
           <p mat-line  class="mat-line-wrap">All classes are unit tested with the tools coming from the Angular CLI (Karma, Jasmine).</p>
           <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
        <mat-list-item class="mat-list-item-fit-height">
            <h4 mat-line>Protractor + Selenium</h4>
            <p mat-line class="mat-line-wrap">End to end Protractor tests have been configured and are ran with Selenium after each commit.</p>
            <mat-divider [inset]="true"></mat-divider>
         </mat-list-item>
         <mat-list-item class="mat-list-item-fit-height">
            <h4 mat-line>Docker, Jenkins</h4>
            <p mat-line class="mat-line-wrap">Used for the CI/CD pipeline.</p>
         </mat-list-item>
     </mat-list>
</div>