.mat-card {
  flex-shrink:2;
  max-width: 100%;
}

.container-flex {
  display: flex; 
  justify-content: space-around;
  margin: 20px auto;
}

/* Small screens */
@media all and (max-width: 800px) {
  .carousel-caption h2 {
    display: none;
  }
}

@media all and (max-width: 700px) {
  .hidden-when-small {
    display: none;
  }
}


.logo {
  height: 150px;
  width: 150px;
  padding: 20px 20px;
}

h1 {
  margin:30px auto;
}

.logo-container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

/* Small screens */
@media all and (max-width: 500px) {

  .carouseel-img {
    width: 350px;
  }

  .logo-container {
    display: flex; /* or inline-flex */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    margin: 10px auto;
  }

  .logo {
    height: 100px;
    width: 100px;
    padding: 10px 10px;
    flex-shrink: 2;
  }
}

.strikethrough {
  text-decoration: line-through;
}


.carouseel-img {
  width: 100%;
}

.black {
  color: rgba(50, 50, 50, 0.8);
}