<div class="drawer-side">

  <div class="side-section">
    <h4 class="lead">SKILLS</h4>
    <ul>
      <li *ngFor="let skill of skills">
        <span>{{ skill }}</span>
      </li>
    </ul>
  </div>

  <div class="side-section">
    <h4 class="lead">LANGUAGES</h4>
    <ul>
      <li *ngFor="let language of languages">
        <span>{{ language }}</span>
      </li>
    </ul>
  </div>

  <div class="side-section">
      <h4 class="lead">CONTACTS</h4>
      <div class="contact-container" *ngFor="let contact of contacts">
        <a *ngIf="contact.href; else simpleContact" [href]="contact.href">
          <mat-icon class="icon">{{ contact.materialIcon }}</mat-icon>
          {{ contact.value  }}
        </a>
        <ng-template #simpleContact>
            <mat-icon class="icon">{{ contact.materialIcon }}</mat-icon>
            {{ contact.value  }}  
        </ng-template>
      </div>
    </div>
</div>
