.drawer-side {
  background-color: #7986cb;
  color: whitesmoke;
  padding: 20px 20px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}

h4.lead {
  border-bottom: 1px solid #f8bbd0;
}

ul {
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
}

ul li {
  color: #f8bbd0;
}

ul li span {
  color: whitesmoke;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  word-break: break-all;
  word-wrap: break-word;
  margin: 5px 0px;
}

.contact-container i,
.contact-container img {
  font-size: 24px;
}

a {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin-right: 5px;
}

.side-section {
  margin: 15px 0;
}

.side-section h2 {
  margin-bottom: 12px 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* Small screens */
@media all and (max-width: 600px) {
  .drawer-side {
    background-color: #7986cb;
    color: whitesmoke;
    padding: 10px 10px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    width: 230px;
    max-width: 230px;
  }

  .contact-container i,
  .contact-container img {
    margin-right: 5px;
    font-size: 15px;
  }

  .icon {
    width: 15px;
    height: 15px;
    font-size: 15px;
    margin-right: 5px;
  }

  .side-section {
    margin: 10px 0;
  }
}
