<div class="drawer-side">
  <div class="side-section">
      <h4 class="lead">Skills</h4>
      <ul>
        <li>
          <span>Java 8</span>
        </li>
        <li>
          <span>Spring</span>
        </li>
        <li>
          <span>Angular</span>
        </li>
        <li>
          <span>Jenkins</span>
        </li>
        <li>
          <span>Docker</span>
        </li>
      </ul>
  </div>

  <div class="side-section">
    <h4 class="lead">Languages</h4>
    <ul>
      <li>
        <span>French</span>
      </li>
      <li>
        <span>Dutch</span>
      </li>
      <li>
        <span>English</span>
      </li>
      <li>
        <span>German</span>
      </li>
    </ul>
</div>

  <div class="side-section">
      <div class="contact-container">
          <i class="material-icons">email</i>
          <a href="mailto:guillaume.pansier@gmail.com?Subject=Contact">guilaume.pansier@gmail.com</a>
      </div>
      <div class="contact-container">
          <img class="icon" src="assets/linkedin-logo.png" alt="linkedin icon"/>
          <a href="https://be.linkedin.com/in/guillaume-pansier-8b479587">guillaume-pansier</a>
      </div>
  </div>
</div>
