<div class="drawer-side">

  <div class="side-section">
    <h4 class="lead">SKILLS</h4>
    <ul>
      <li>
        <span>Java 8</span>
      </li>
      <li>
        <span>Spring</span>
      </li>
      <li>
        <span>Angular</span>
      </li>
      <li>
        <span>Jenkins</span>
      </li>
      <li>
        <span>Docker</span>
      </li>
    </ul>
  </div>

  <div class="side-section">
    <h4 class="lead">LANGUAGES</h4>
    <ul>
      <li>
        <span>French</span>
      </li>
      <li>
        <span>Dutch</span>
      </li>
      <li>
        <span>English</span>
      </li>
      <li>
        <span>German</span>
      </li>
    </ul>
  </div>

  <div class="side-section">
      <h4 class="lead">CONTACTS</h4>
      <div class="contact-container">
        <a href="mailto:guillaume.pansier@gmail.com?Subject=Contact">
          <mat-icon class="icon">email</mat-icon>
          guillaume.pansier@gmail.com
        </a>
      </div>
      <div class="contact-container">
        <a href="https://www.linkedin.com/in/gpansier">
          <mat-icon class="icon">account_circle</mat-icon>
          linkedin.com/in/gpansier
        </a>
      </div>
      <div class="contact-container">
          <a href="/">
            <mat-icon class="icon">public</mat-icon>
            gpansier.com
          </a>
        </div>
      <div class="contact-container">
        <mat-icon class="icon">place</mat-icon>
        brussels
      </div>
    </div>
</div>
